#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3
#define NUMBER 4
#define CONNECT 5

/ {
        macros {
                tab_prev: tab_prev {
                        label = "ZM_tab_prev";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_tap &kp PAGE_UP>
                                , <&macro_release &kp LCTRL>
                                ;
                };

                tab_next: tab_next {
                        label = "ZM_tab_next";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_tap &kp PAGE_DOWN>
                                , <&macro_release &kp LCTRL>
                                ;
                };

                
                tab_reload: tab_reload {
                        label = "ZM_tab_reload";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_tap &kp R>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                
                tab_new: tab_new {
                        label = "ZM_tab_new";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_tap &kp T>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                
                tab_close: tab_close {
                        label = "ZM_tab_close";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL>
                                , <&macro_tap &kp F4>
                                , <&macro_release &kp LCTRL>
                                ;
                };
                
                lng_eng: lng_eng {
                        label = "ZM_lng_eng";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LSHFT>
                                , <&macro_tap &kp N1>
                                , <&macro_release &kp LCTRL &kp LSHFT>
                                ;
                };

                lng_lt: lng_lt {
                        label = "ZM_lng_lt";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LSHFT>
                                , <&macro_tap &kp N2>
                                , <&macro_release &kp LCTRL &kp LSHFT>
                                ;
                };
                
                lng_ru: lng_ru {
                        label = "ZM_lng_ru";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LCTRL &kp LSHFT>
                                , <&macro_tap &kp N3>
                                , <&macro_release &kp LCTRL &kp LSHFT>
                                ;
                };
                
                key_summary: key_summary {
                        label = "ZM_key_summary";
                        compatible = "zmk,behavior-macro";
                        #binding-cells = <0>;
                        bindings
                                = <&macro_press &kp LALT>
                                , <&macro_tap &kp KP_NUMBER_6 &kp KP_NUMBER_1>
                                , <&macro_release &kp LALT>
                                ;
                };
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                qwerty_layer {

// | CONN/ESC |  Q  |  W  |  E   |  R   |   T      | ___ |   Y       |   U   |  I  |  O  |  P  | BSPC         |
// | TAB/NUMB |  A  |  S  |  D   |  F   |   G      | ___ |   H       |   J   |  K  |  L  |  :  |  '           |
// | SHIFT    |  Z  |  X  |  C   |  V   |   B      | ___ |   N       |   M   |  ,  |  .  |  /  | SHIFT/INSERT |
//                        | CTRL |LOWER | BSPC/ALT | ___ | ENTER/ALT | RAISE | GUI |SS

                        bindings = <
&lt CONNECT ESC  &kp Q     &kp W  &kp E      &kp R      &kp T           &kp Y           &kp U      &kp I      &kp O    &kp P     &kp BACKSPACE
&lt NUMBER TAB   &kp A     &kp S  &kp D      &kp F      &kp G           &kp H           &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT        &kp Z     &kp X  &kp C      &kp V      &kp B           &kp N           &kp M      &kp COMMA  &kp DOT  &kp FSLH  &mt RSHIFT INSERT
                                  &kp LCTRL  &mo LOWER  &mt LALT SPACE  &mt RALT ENTER  &mo RAISE  &kp LGUI
                        >;
                };

                lower_layer {

// | `     |   1   |  2   |  3   |   4   | 5    | ___ |   6   |   7   |  8   | 9  |   0   | BSPC         |
// | DEL   | TABCL | TABP | TABN | TABR  | TABN | ___ |       |   -   |  =   | [  |   ]   |  \           |
// | SHIFT | PREV  | NEXT | PLAY | VDN   | VUP  | ___ |       | LEFT  | DOWN | UP | RIGHT | SHIFT/INSERT |
//                        | CTRL | LOWER | BSPC | ___ | ENTER | RAISE | GUI  |

                        bindings = <
&kp GRAVE  &kp N1      &kp N2      &kp N3            &kp N4         &kp N5        &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &trans
&kp DEL    &tab_close  &tab_prev   &tab_next         &tab_reload    &tab_new      &none      &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT   &kp BSLH   
&trans     &kp C_PREV  &kp C_NEXT  &kp C_PLAY_PAUSE  &kp C_VOL_DN   &kp C_VOL_UP  &none      &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans
                                   &trans            &trans         &trans        &trans     &trans     &trans
                        >;
                };

                raise_layer {
                        
// | ~     |  !  |  @  |  #   |   $   |  %   | ___ |   ^   |   &   |  *   |  (   |  )  | BSPC         |
// | DEL   |  F1 |  F2 |  F3  |   F4  |  F5  | ___ |   F6  |   _   |  +   |  {   |  }  | "|"          |
// | SHIFT |  F7 |  F8 |  F9  |  F10  |  F11 | ___ |   F12 | HOME  | PGDN | PGUP | END | SHIFT/INSERT |
//                     | CTRL | LOWER | BSPC | ___ | ENTER | RAISE | GUI  |

                        bindings = <
&kp TILDE  &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR     &kp RPAR  &trans
&kp DEL    &kp F1    &kp F2   &kp F3    &kp F4    &kp F5     &kp F6     &kp UNDER  &kp PLUS         &kp LBRC     &kp RBRC  &kp PIPE  
&trans     &kp F7    &kp F8   &kp F9    &kp F10   &kp F11    &kp F12    &kp HOME   &kp PAGE_DOWN    &kp PAGE_UP  &kp END   &trans
                              &trans    &trans    &trans     &trans     &trans     &trans
                        >;
                };

                adjust_layer {
                        
// |       | ENG  | LT   | RU     |       |      | ___ |       |       |     |     |     |     |   
// |       | WWW  | MAIL | CALC   |       |      | ___ |       |       |     |     |     |     |
// |       | NUMB | CAPS | SCROLL |       |      | ___ |       |       |     |     |     |     |
//                       |        | LOWER |      | ___ |       | RAISE |     |

                        bindings = <
&none  &lng_eng        &lng_lt         &lng_ru              &none   &none  &none  &none   &none  &none  &none  &none    
&none  &kp C_AC_HOME   &kp C_AL_EMAIL  &kp C_AL_CALCULATOR  &none   &none  &none  &none   &none  &none  &none  &none
&none  &kp KP_NUMLOCK  &kp CAPSLOCK    &kp SCROLLLOCK       &none   &none  &none  &none   &none  &none  &none  &none
                                       &none                &trans  &none  &none  &trans  &none
                        >;
                };

                number_layer {

// |      |  1  |  2  |  3  |  4  |  5  | ___ |   6   |  7  |  8  |  9  |  0  | BSPC |
// | DEL  |     |     |     |     |     | ___ |   -   |  4  |  5  |  6  |  /  |  =   |
// |      |     |     |     |     |     | ___ |   +   |  1  |  2  |  3  |  *  | RALT |
//                    |     |     |     | ___ | ENTER |  ,  |  0  |

                        bindings = <
&none   &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp KP_NUMBER_7 &kp KP_NUMBER_8 &kp KP_NUMBER_9 &kp KP_NUMBER_0 &kp BACKSPACE
&kp DEL &none           &none           &none           &none           &none           &kp KP_MINUS    &kp KP_NUMBER_4 &kp KP_NUMBER_5 &kp KP_NUMBER_6 &kp KP_DIVIDE   &key_summary
&none   &none           &none           &none           &none           &none           &kp KP_PLUS     &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3 &kp KP_MULTIPLY &kp RALT
                                        &none           &none           &none           &trans          &kp KP_DOT      &kp KP_NUMBER_0
                        >;
                };

                connect_layer {

// |        | BT0 | BT1 | BT2 | BT3 | BT4 | ___ |     |     |     |     |     |      |
// | BT_CLR |     |     |     |     |     | ___ |     |     |     |     |     |      |
// |        |     |     |     |     |     | ___ |     |     |     |     |     |      |
//                      |     |     |     | ___ |     |     |     |

                        bindings = <
&none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none  &none  &none  &none  &none  &none
&bt BT_CLR  &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
&none       &none         &none         &none         &none         &none         &none  &none  &none  &none  &none  &none
                          	        &none         &none         &none         &none  &none  &none
                        >;
                };
        };
};