#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/led/led.h>

// HELPERS
#include "helpers/combos.dtsi"

// PRESS SETTINGS
#include "settings/press.dtsi"

// LAYERS
#include "os/layers.dtsi"

// KEYBOARD
/ {
        macros {
                #include "os/macros.dtsi"
        };

        behaviors {
                #include "os/tap_dance.dtsi"
        };

        conditional_layers {
                compatible = "zmk,conditional-layers";
                #include "os/conditional.dtsi"
        };

        combos {
                compatible = "zmk,combos";
                #include "os/combos.dtsi"
        };

        keymap {
                compatible = "zmk,keymap";
                #include "os/keymap.dtsi"
        };
};