number_layer { label = "UBER";

// |   |   |   |   |   |    | /**/ |   |   |   |   |   |   |
// |   |   |   |   |   |    | /**/ |   |   |   |   |   |   |
// |   |   |   |   |   |    | /**/ |   |   |   |   |   |   |
//             |   |   |    | /**/ |   |   |   |

bindings = <
    &none  &none  &none  &none  &none  &none /**/ &none  &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none /**/ &none  &none  &none  &none  &none  &none
    &none  &none  &none  &none  &none  &none /**/ &none  &none  &none  &none  &none  &none
                         &none  &none  &none /**/ &none  &none  &none
>;};