uber_layer { label = "UBER_VIEW";

bindings = <
// ╭───────┬───────┬───────┬───────┬──────────────┬───────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
     &none   &none   &none   &none   &none          &none      &none   &none   &none   &none   &none   &none
// ├───────┼───────┼───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &none   &none   &none   &none   &none          &none      &none   &none   &none   &none   &none   &none
// ├───────┼───────┼───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &none   &none   &none   &none   &none          &none      &none   &none   &none   &none   &none   &none
// ╰───────┴───────┴───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                             &none   &none          &none      &none   &none   &none
//                         ╰───────┴──────────────┴───────╯  ╰───────┴───────┴───────╯
>;};