uber_layer { label = "VIEW";

bindings = <
// ╭──────────────┬───────┬───────┬───────┬──────────────┬──────────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
     &shutdown_30   &none   &none   &none   &use_reserve   &none         &none   &none   &none   &none   &none   &none
// ├──────────────┼───────┼───────┼───────┼──────────────┼──────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &shutdown_c    &none   &none   &none   &none          &none         &none   &none   &none   &none   &none   &none
// ├──────────────┼───────┼───────┼───────┼──────────────┼──────────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &shutdown_1    &none   &none   &none   &none          &log_off      &none   &none   &none   &none   &none   &none
// ╰──────────────┴───────┴───────┼───────┼──────────────┼──────────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                                    &none   &none          &none         &none   &none   &none
//                                ╰───────┴──────────────┴──────────╯  ╰───────┴───────┴───────╯
>;};