uber_layer { label = "VIEW";

bindings = <
// ╭───────┬───────┬───────┬───────┬──────────────┬───────╮  ╭───────┬───────┬───────┬───────┬───────┬───────╮
     &none   &none   &none   &none   &use_reserve   &none      &none   &none   &none   &none   &none   &none
// ├───────┼───────┼───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &none   &none   &none   &none   &none          &none      &none   &none   &none   &none   &none   &none
// ├───────┼───────┼───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┼───────┼───────┤
     &none   &none   &none   &none   &none          &none      &none   &none   &none   &none   &none   &none
// ╰───────┴───────┴───────┼───────┼──────────────┼───────┤  ├───────┼───────┼───────┼───────┴───────┴───────╯
                             &none   &none          &none      &none   &none   &none
//                         ╰───────┴──────────────┴───────╯  ╰───────┴───────┴───────╯
>;};